a{
    color: white; text-decoration: none; margin-right: 10px;
}
/* footer{
    position: fixed;
    background-color: #c2bdbd; text-align: center; color:black; padding: 5px;
    width: auto;
    height: auto;
} */