<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <div class="row">
    <div class="col-md-4 custom-card">
      <div class="card">

        <div class="card-body">
            <div class="d-flex flex-row align-items-center mb-2">
                <h4 class="mb-1 me-1">Sales</h4>
                <span class="text-dark">| This month</span>
              </div>
              <div class="card-options text-dark">
                <i class="fas fa-ellipsis-v"></i>
              </div>
          <div class="card-text">
            <p class="card-value"><b>143</b></p>
            <p class="card-increase"><i class="fas fa-chart-line" style="font-size: 24px; background-color:rgb(225, 233, 224);border-radius: 50%; padding: 14px; color: rgb(35, 119, 27);"></i><b style="color: rgb(10, 138, 63);">+5%</b> increase</p>
          </div>
        </div>

      </div>
    </div>
    <!-- Revenue -->
    <div class="col-md-4 custom-card ">
      <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center mb-2">
                <h4 class="mb-1 me-1">Revenue</h4>
                <span class="text-dark">| This month</span>
              </div>
              <div class="card-options text-dark">
                <i class="fas fa-ellipsis-v"></i>
              </div>
          <div class="card-text">
            <p class="card-value"><b>$3143</b></p>
            <p class="card-increase"><i class="fas fa-chart-line" style="font-size: 24px; background-color:rgb(190, 205, 231);border-radius: 50%; padding: 14px; color: rgb(10, 50, 158);"></i><b style="color: rgb(10, 50, 158);">+8%</b> increase</p>
          </div>
        </div>
      </div>
    </div>
<!-- customer -->
    <div class="col-md-4 custom-card">
      <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row align-items-center mb-2">
                <h4 class="mb-1 me-1">Customers</h4>
                <span class="text-dark">|year</span>
              </div>
              <div class="card-options text-dark">
                <i class="fas fa-ellipsis-v"></i>
              </div>
          <div class="card-text">
            <p class="card-value"><b>1244</b></p>
            <p class="card-increase"><i class="fas fa-chart-line" style="font-size: 24px; background-color:rgb(226, 203, 139);border-radius: 50%; padding: 14px; color: rgb(148, 104, 8);"></i><b style="color: rgb(158, 110, 7);">+12%</b> increase</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>