b{
    font-size:x-large;
    color: rgb(12, 12, 43);
}
.card-options {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
  }
  .custom-card {
    max-width: 300px; /* Adjust the width as needed */
    max-height: 250px; /* Adjust the height as needed */
    
    border-radius: 5%;
    
  }