<!-- <router-outlet></router-outlet>
<div style="width: 800px;height: 800px; padding: 10px;">
    <h4>Report <s>|Today</s></h4>
    <canvas id="myChart">|</canvas>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-8 custom-card">
            <div class="card">
        
              <div class="card-body">
                  <div class="d-flex flex-row align-items-center mb-2">
                      <h4 class="mb-1 me-1">Report</h4>
                      <span class="text-dark">| Today</span>
        
                    </div>
                    <div class="card-options text-dark">
                      <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div>
                        
                        <canvas id="myChart">|</canvas>
                    </div>
              </div>
        
            </div>
          </div>
        
    </div>
</div>

