
<div class="pagetitle">
    <h3>Dashboard</h3>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <div class="custom-container">
  </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <!-- Content goes here -->
      </div>
        <div class="col-12 col-md-8">
            <app-cards></app-cards>
            <app-linechart></app-linechart>
        </div>
        <div class="col-lg-4">
            <app-budget-report></app-budget-report>


        </div>
    </div>



